spring:
  application:
    name: password-reset-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/password_reset
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

server:
  port: 8080
  error:
    include-message: always
    include-stacktrace: never

logging:
  level:
    com.sanshan.passwordresetservice: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
